.registration.hero {
}
.registration_container {
	justify-content: center;
	text-align: center;
	color: #efe200;
	font-weight: ligther;
	width: 100%;
	height: 100%;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: crem(40px) 0;
}

.registration_heading {
	font-size: crem(40px);
	line-height: crem(60px);
	font-family: $font;
	font-weight: 900;
	padding: 0 10%;
}

.contact-button {
	margin-bottom: 1.5rem;
}

.reg_ending_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.discountheader {
	font-family: Anton;
	font-size: 5rem;
	color: #f1dc13;
}
