.about {
  background-color: $dark;
  color: white;
  position: relative;
  overflow: hidden;
  .inner {
  }
  .accented {
    color: $yellow;
    font-weight: 700;
  }
  p {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
  .hex-decor {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 150%;

    img {
      height: 100%;
    }
  }
}
