.about {
  background-color: $dark;
  color: white;
  position: relative;
  overflow: hidden;
  padding: crem(120px) 0;
  .inner {
    @include touch {
      padding: crem(60px) 0 !important;
    }
  }
  a {
    font-weight: 700;
    display: inline-block;
    font-size: crem(26px);
    color: black;
  }
  h2 {
    z-index: 2;
  }
  .accented {
    color: $yellow;
    font-weight: 700;
  }
  p {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
  .hex-decor {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 120%;
    width: 50%;
    img {
      height: 100%;
    }
    @include touch {
      width: 80%;
      height: 200%;
    }
  }
  .line-decor {
    position: absolute;
    left: -4rem;
    @media screen and (max-width: 1720px) {
      left: -10rem;
    }
    @media screen and (max-width: 1550px) {
      left: -12.5rem;
    }
    @media screen and (max-width: 1480px) {
      left: -13rem;
    }
    @media screen and (max-width: 1475px) {
      display: none;
    }
  }
}
