.hero {
  /* General */
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: relative;

  @include touch {
    height: 50vh;
    min-height: 50vh;
  }

  /* Background image */
  .hero-img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      @include touch {
        -o-object-position: right;
           object-position: right;
      }
    }
  }
  .blur img {
    display: block; /* remove bottom space */
    -webkit-filter: grayscale(100%) blur(6px);
    -moz-filter: grayscale(100%) blur(6px);
    -ms-filter: grayscale(100%) blur(6px);
    -o-filter: grayscale(100%) blur(6px);
    filter: grayscale(100%) blur(6px);
  }
  .blur:before {
    background-color: $dark;
    opacity: 0.8;
  }

  /* Content */
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    @include touch {
      padding: 0 1.5rem;
    }
    .hero-logo {
      width: 60%;
      @include touch {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .dots {
      align-self: flex-end;
      width: 60%;
      img {
        width: 100%;
      }
      @include touch {
        width: 100%;
      }
    }
  }
}
