.partners {
  text-align: center;
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .partner {
    .partner-img {
      width: crem(200px);
      height: auto;
    }
  }
}
