.partners {
  text-align: center;
  color: white;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: $dark;
  padding-top: 2rem;
  .container {
    padding-top: crem(80px);
    padding-bottom: crem(120px);
    @include mobile {
      padding-bottom: crem(60px);
    }
  }
  .cta-sec {
    @include touch {
      margin-top: 5rem;
      background-color: #12191d;
      padding: 4rem 2rem;
    }
  }
  h2 {
    margin-bottom: 5rem;
  }
  h3 {
    font-family: $font-cap;
    font-style: normal;
    font-weight: normal;
    font-size: crem(48px);
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
  }
  .top-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span.role {
      font: $font;
      font-size: crem(27px);
    }
    .partner {
      &:not(:last-of-type) {
        margin-bottom: 6rem;
      }
      img {
        height: 3rem;
        width: auto;
        -o-object-fit: contain;
        object-fit: contain;
        &:first-of-type {
          height: 4rem;
        }
      }
    }
  }
  .other {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: space-evenly;
    .role {
      flex-shrink: 0;
    }
    .partner-logo {
      flex-basis: 10%;
      max-height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include touch {
        flex-basis: 20%;
      }
      img {
        height: 100%;
        -o-object-fit: scale-down;
        object-fit: scale-down;
      }
    }
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .dots {
    margin-top: crem(100px);
    margin-bottom: crem(80px);
  }
  .contact-button {
    margin-top: 2rem;
  }
  .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .partner-img {
      width: crem(200px);
      height: auto;
    }
  }
  .partner-logo {
    img {
      margin-top: 1.5rem;
    }
  }
  .grayscale {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    &:hover {
      -webkit-filter: none;
      filter: none;
    }
  }
}
