.partners {
  text-align: center;
  color: white;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: $dark;
  padding-top: 2rem;
  .container {
    padding-top: crem(220px);
    padding-bottom: crem(120px);
  }
  .top-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span.role {
      font: $font;
      font-size: crem(26px);
    }
    .partner {
      &:not(:last-of-type) {
        margin-bottom: 6rem;
      }
      img {
        height: 3rem;
        width: auto;
        object-fit: contain;
        &:first-of-type {
          height: 4rem;
        }
      }
    }
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .partner-img {
      width: crem(200px);
      height: auto;
    }
  }
}
