.speakers {
  text-align: center;
  color: white;
  padding: 0 !important;
  background-color: $dark;
  .container {
    background-color: #12191d;
    padding: crem(90px) crem(60px);
    max-width: crem(1600px) !important;
    overflow: hidden;
    z-index: 2;
    @include touch {
      max-width: initial !important;
      padding: 2rem 1.5rem;
    }
  }
  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
    .line-decor {
      width: 70%;
      img {
        -o-object-fit: scale-down;
        object-fit: scale-down;
      }
    }
  }
  .hex-decor {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
  }
  .hex-decor-2 {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
    top: 85rem;
  }
  .inner {
    margin-bottom: 2rem;
    min-height: crem(250px);
    padding: 1.5rem;
  }
  .speaker-img {
    height: crem(200px);
    width: crem(200px);
    //border-radius: 50%;
    overflow: hidden;
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: crem(220px);
    width: crem(200px);
    overflow: hidden;
    img,
    svg {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .anon {
      -webkit-filter: blur(6px) grayscale(100%);
      -moz-filter: blur(6px) grayscale(100%);
      -ms-filter: blur(6px) grayscale(100%);
      -o-filter: blur(6px) grayscale(100%);
      filter: blur(6px) grayscale(100%);
    }
    // img,
    // svg {
    //   display: inline;
    //   margin: 0 auto;
    //   height: 100%;
    //   width: 100%;
    //   -o-object-fit: cover;
    //   object-fit: cover;
    // }
    // .anon {
    //   -webkit-filter: blur(6px) grayscale(100%);
    //   -moz-filter: blur(6px) grayscale(100%);
    //   -ms-filter: blur(6px) grayscale(100%);
    //   -o-filter: blur(6px) grayscale(100%);
    //   filter: blur(6px) grayscale(100%);
    // }
  }

  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
  }
  .speaker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-right: 3rem;
    p {
      text-align: left;
      &.name {
        color: white;
        font-size: crem(28px);
        font-weight: 600;
        margin-bottom: 1rem;
        &.anon {
          font-family: $font-cap;
          font-weight: 400;
          text-transform: uppercase;
          font-size: crem(26px);
          color: $yellow;
        }
      }
      &.title {
        color: #8a9297;
        font-size: crem(22px);
        font-weight: 500;
      }
    }
    a {
      justify-self: flex-end;
      svg {
        path {
          fill: $yellow;
        }
      }
      &:hover {
        path {
          fill: white;
        }
      }
    }
  }
}
