._main.speakers,
._main.speaker-single {
  .hex-decor {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    height: 80vh;
    width: 50%;
    z-index: -1;
    img {
      height: 100%;
    }
  }
  .speakers-all {
    position: relative;
  }
  .hero {
    min-height: 50vh;
    height: 50vh;
    .inner {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .title-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem;
      h2 {
        margin-top: 1rem;
      }
      .line-decor {
        width: 60%;
        img {
          -o-object-fit: scale-down;
          object-fit: scale-down;
        }
      }
    }
  }
}
