._main.speakers,
._main.speaker-single {
  .hex-decor {
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    height: 80vh;
    z-index: -1;
    img {
      height: 100%;
    }
    @include touch {
      width: 100%;
    }
  }
  .hex-decor-2 {
    position: absolute;
    left: 0;
    top: 60%;
    z-index: -1;
    img {
      height: 100%;
    }
  }
  .speakers-all {
    position: relative;
  }
  .hero {
    min-height: 30vh;
    height: 30vh;
    .inner {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
      @include touch {
        padding: 0 1.5rem;
      }
    }
    .container {
      width: 100%;
    }
    .title-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem;
      width: 100%;
      h2 {
        margin-top: 1rem;
      }
      .line-decor {
        width: 60%;
        img {
          -o-object-fit: scale-down;
          object-fit: scale-down;
        }
      }
    }
  }
}
._main.speaker-single {
  .hero {
    height: 25vh;
    min-height: 25vh;
    @include touch {
      height: 20vh;
      min-height: 20vh;
    }
  }
}
