._main.speakers,
._main.speaker-single {
  .hex-decor {
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    height: 80vh;
    z-index: -1;
    img {
      height: 100%;
    }
    @include touch {
      width: 100%;
    }
  }
  .hex-decor-big {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -1;
    width: 100%;
    height: 100vh;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .speakers-all {
    position: relative;
  }
  .hero {
    .inner {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
      @include touch {
        padding: 0 1.5rem;
      }
    }
  }
}
._main.speaker-single {
  .hero {
    height: 25vh;
    min-height: 25vh;
    @include touch {
      height: 20vh;
      min-height: 20vh;
    }
  }
}
