.contact-button {
  padding: 1rem 3rem;
  background-color: $blue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 6rem;
  cursor: pointer;
  span {
    color: $white;
    font-size: crem(24px);
    font-weight: 400;
    text-transform: uppercase;
    font-family: $font-cap;
  }
  &:hover {
    background: lighten($blue, 5%);
  }
}
