.contact-button {
  padding: 1rem 3rem;
  background-color: $yellow;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  margin-top: 6rem;
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
  span {
    color: black;
    font-size: crem(28px);
    line-height: crem(30px);
    font-weight: 700;
    font-family: $font;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  &:hover {
    background: white;
  }
}
