.cta-section {
  background-color: $yellow;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include touch {
      flex-direction: column;
    }
    p.title {
      margin-bottom: 0;
      text-transform: uppercase;
      font-family: $font-cap;
      font-weight: normal;
      font-size: crem(68px);
      line-height: 110%;
      color: black;
      @include touch {
        margin-bottom: 2rem;
        text-align: center;
        font-size: crem(54px);
      }
    }
    .contact-button {
      margin-top: 0;
      background-color: black;
      color: yellow;
      font-weight: 900;
      font-size: crem(24px);
      line-height: 150%;
      transition: all 0.2s;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
