.decor {
  background-color: $dark;
  position: relative;
  overflow: hidden;
  height: crem(600px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 5rem;
  margin-bottom: 30rem;
  @include mobile {
    margin-bottom: 66rem;
    height: crem(500px);
  }
  @include tablet {
    margin-bottom: 37rem;
  }
  @include desktop {
    margin-bottom: 40rem;
  }
  .container {
    height: 100%;
  }
  .shadow-decor {
    position: absolute;
    bottom: -13rem;
    @include touch {
      bottom: -4rem;
      left: -7rem;
    }
  }
  .text-decor {
    position: absolute;
    bottom: -2rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      @include tablet {
        max-width: 80%;
      }
      @include desktop {
        max-width: 100%;
      }
    }
  }
}
