.decor {
  background-color: $dark;
  position: relative;
  overflow: hidden;
  height: crem(600px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 33rem;
  @include touch {
    margin-bottom: 43rem;
  }
  .container {
    height: 100%;
  }
  .shadow-decor {
    position: absolute;
    bottom: -15rem;
    @include touch {
      bottom: -2rem;
    }
  }
  .text-decor {
    position: absolute;
    bottom: -2rem;
  }
  img {
    max-width: 100%;
    @include tablet {
      max-width: 80%;
    }
    @include desktop {
      max-width: 100%;
    }
  }
}
