.footer {
  background-color: $dark;
  color: $white;
  padding-top: crem(110px);
  padding: 0 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -5;
  margin-bottom: 2rem;
  @include touch {
    //position: relative;
    padding: 3rem 1.5rem !important;
    // z-index: 10;
    margin-bottom: 0;
  }
  .logo {
    margin-top: 1rem;
  }
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  p {
    font-size: crem(24px);
    font-weight: 800;
    margin-bottom: crem(18px);
    @include touch {
      margin-bottom: crem(10px);
      padding-top: crem(20px);
      font-size: crem(27px);
    }
    &.sub {
      font-size: crem(18px);
      line-height: crem(31px);
      padding-right: 35%;
      color: #e1e1e1;
      font-weight: 400;
      margin-bottom: 1rem;
      @include touch {
        padding-right: 0;
        font-size: crem(27px);
        opacity: 0.9;
      }
      &.cc {
        margin-bottom: 0;
      }
    }
  }
  .contact-button {
    margin: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .logo {
    height: 10rem;
    width: auto;
    display: block;
    img {
      height: 100%;
    }
  }
  .sm {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-of-type) {
        margin-right: 1rem;
        @include touch {
          margin-right: 2rem;
        }
      }
    }
    path {
      fill: $yellow;
    }
    a:hover {
      path {
        fill: white;
      }
    }
  }
}
