.footer {
  background-color: $dark;
  color: $white;
  padding-top: crem(110px);
  padding: 0 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -5;
  @include touch {
    position: relative;
    padding-bottom: 2rem;
    z-index: 10;
  }
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  p {
    font-size: crem(22px);
    font-weight: 600;
    margin-bottom: crem(40px);
    &.sub {
      font-size: crem(18px);
      line-height: crem(31px);
      padding-right: 35%;
      color: #e1e1e1;
      @include touch {
        padding-right: 0;
      }
      &.cc {
        margin-bottom: 0;
      }
    }
  }
  .contact-button {
    margin: 1rem 0;
  }
  .logo {
    height: 5rem;
    width: auto;
  }
  .sm {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
    }
    img {
      height: 3rem;
    }
  }
}
