.footer {
  background-color: $blue;
  color: $white;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  span {
    font-size: crem(22px);
    font-weight: 600;
  }
  .contact-button {
    margin: 1rem 0;
  }
  .logo {
    height: 5rem;
    width: auto;
  }
  .sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      height: 3rem;
    }
  }
}
