.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transform: translateY(0);
  transition: transform 0.3s ease;
  background-color: rgba($dark, 0.5);

  &.hidden {
    transform: translateY(-140%);
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2rem;
    @include touch {
      padding: 0 1rem;
    }
    width: 100%;
    .contact-button {
      margin-top: 0;
      margin-left: auto;
      span {
        font-size: crem(16px);
        line-height: crem(16px);
      }
    }
    .logo {
      display: flex;
      @include touch {
        width: crem(200px);
      }
    }
  }
}
