.hero {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: relative;
  &.small-hero {
    height: 50vh;
    min-height: 50vh;
  }

  @include touch {
    height: 50vh;
    min-height: 50vh;
  }
}
