.intro.protocols {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 13rem;
  padding-bottom: 5vh;
  min-height: unset !important;
  .protocols-list {
    color: white;
    padding-left: 2em;
    list-style-type: circle;
    font-size: 1.6rem;
  }
  @include touch {
    padding: 0 1.5rem;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    @include touch {
      margin-bottom: 3rem;
    }
    h2 {
      margin-bottom: 0;
    }
    .line-decor {
      width: 50%;
      img {
        -o-object-fit: scale-down;
        object-fit: scale-down;
      }
    }
  }
  p {
    color: white;
    padding-right: 30%;
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
    @include touch {
      padding-right: 0;
    }
  }
  .accented {
    color: $yellow;
    font-weight: 700;
  }
}
.rules {
  .protocols-list {
    color: black;
    padding-left: 2em;
    list-style-type: circle;
    font-size: 1.6rem;
  }
  background-color: $yellow;
  padding-top: 5vh;
  padding-bottom: 5vh;
  ::-moz-selection {
    color: $yellow;
    background: $dark;
  }
  ::selection {
    color: $yellow;
    background: $dark;
  }
  @include touch {
    padding: 4rem 1.5rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  ._content {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    
    h2 {
      font-size: 2.2rem;
      color: black;
      margin: 0;
    }
    h4 {
      font-size: 2rem;
      color: black;
      font-weight: bold;
    }
    p {
      font-weight: bold;
      font-size: 1.6rem;
    }
    hr {
      background-color: black;
    }
  }
}
.intro.bottom.hero.protocols {
  padding-top: 0;
  padding-bottom: 0;
  .container .inner {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

