//import css framework
@import "~bulma/bulma";

//colors
$yellow: #f1dc13;
$blue: #1b69ae;
$blue: #0a2c49;

// convertes px to rem.
@function crem($pixels) {
  $context: 16 * 1px;
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @return $pixels / $context * 1rem;
}
//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
$font: "Montserrat", sans-serif;

html {
  scroll-behavior: smooth;
  font-size: calc(0.5em + 0.4vw);
}

body {
  font-family: $font;
}

h2 {
  font-size: crem(44px);
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
p {
  font-size: crem(24px);
}
.section {
  padding: crem(100px) 0;
  @include touch {
    padding: 3rem 1.5rem !important;
  }
}
//import all files
@import "./Home/all";
