//import css framework
@import './partials/normalize';
@import '~bulma/bulma.sass';

//colors
// $yellow: #1b69ae;
// $blue: #f1dc13;
// $gray: white;
// $dark: white;
$yellow: #f1dc13;
$blue: #1b69ae;
$gray: #424242;
$dark: #080f13;
// convertes px to rem.
@function crem($pixels) {
	$context: 16 * 1px;
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@return $pixels / $context * 1rem;
}
//fonts
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Overpass:wght@300;400;600;700&display=swap');
$font: 'Overpass', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$font-cap: 'Anton', sans-serif;

::-moz-selection {
	color: $dark;
	background: $yellow;
}

::selection {
	color: $dark;
	background: $yellow;
}
html {
	scroll-behavior: smooth;
	font-size: calc(0.5em + 0.4vw);
	background-color: $dark;
	z-index: -10;
	position: relative;
}

body {
	font-family: $font;
	z-index: -10;
	position: relative;
	overflow-x: hidden;
}

h2 {
	font-size: crem(52px);
	font-weight: 400;
	margin-bottom: 2rem;
	font-family: $font-cap;
	text-transform: uppercase;
	color: $yellow;
	display: block;
	text-align: left;
}
p {
	font-size: crem(27px);
}
.section {
	padding: crem(100px) 0;
	@include touch {
		padding: 3rem 1.5rem !important;
	}
}
._main {
	position: relative;
	z-index: 1;
	background-color: $dark;
}
img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:focus {
		outline: none;
	}
}
//import all files
@import './partials/all';
@import './animations';
@import './Home/all';
@import './Contact/all';
@import './About/all';
@import './Team/all';
@import './Speakers/all';
@import './Program/all';
@import './Protocols/all';
@import './Register/all';
@import './TravelGrant/all';
@import './Countdown/all';
@import './Registration/_all';
