._main.program {
  .inner {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
    .line-decor {
      width: 60%;
      img {
        -o-object-fit: scale-down;
        object-fit: scale-down;
      }
    }
  }
}
