._main.program {
  .inner {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    @include touch {
      margin-bottom: 3rem;
    }
    h2 {
      margin-bottom: 0;
    }
    .line-decor {
      width: 60%;
      img {
        -o-object-fit: scale-down;
        object-fit: scale-down;
      }
    }
  }
  .hero {
    height: 40vh;
    min-height: 40vh;
    @include touch {
      height: 20vh;
      min-height: 20vh;
    }
  }
}
